#wrapper {
	
	width: 1200px;
	text-align:center;
	margin: 0 auto;
}

h2{
	font-family: 'Varela Round', sans-serif;
}


#ContRestaurant {
	margin: 0 auto;
	width: 1050px;
}

td, th {
	float:center;
	border: 1px solid #ccc;
	background-color: #f7f9f3;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
}

tr,th{
	background-color: #14C184;
}